<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} {% endblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans|Open+Sans+Condensed:300" rel="stylesheet">
<link rel="stylesheet" href="/static/movies/templates/css/base.css" >
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{#<script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>#}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="/static/movies/templates/javascript/settings.js"></script>
<script type="text/javascript" src="/static/movies/templates/javascript/search.js"></script>
<script type="text/javascript" src="/static/movies/templates/javascript/ajax.js"></script>
<script type="text/javascript" src="/static/movies/templates/javascript/mustache.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/vast-engineering/jquery-popup-overlay/1.7.13/jquery.popupoverlay.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-86343014-1', 'auto');
  ga('send', 'pageview');
</script>

  <script>
    $(document).ready(function() {
        // Initialize the plugin
        $('#my_popup').popup({
            transition: 'all 0.3s',
            scrolllock: true // optional
        });
    });
  </script>

    {% block headcontent %} {% endblock %}
</head>
<body>
<div id="container-menu">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">komend</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
{#              <li><a href="{% url "movies:questionlist" %}">Questions</a></li>#}
{#              <li><a href="{% url "movies:newquestion" %}">Ask Question</a></li>#}
              <li><a href="{% url "movies:movielist" %}">Top Movies</a></li>
              <li><a href="{% url "movies:actorlist" %}">Top Actors</a></li>
              <li><a href="{% url "movies:directorlist" %}">Top Directors</a></li>
{#              <li><a href="#" class="setting_button" data-type="displayseen" data-value="toggle" href="">ToggleSeen</a></li>#}
{#                <li><a href="/movies/"></a></li>#}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form>
                        <div id="suggest-topsearchbox"><span class="glyphicon glyphicon-search">
                        </span><span><input type="text" id="searchbox" placeholder="Search for movies..."></span>
                            <div class="suggest-topsearchbox-results"><ul id="txtTopSearchHint"></ul></div>
                        </div>
                    </form>
                </li>
{#              <li class="active"><a href="{% url "login" %}">Login</a></li>#}
{#              <li class="active"><a href="{% url "logout" %}">Logout</a></li>#}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
</div>
<div id="topcontent">
    {% block topcontent %} {% endblock %}
</div>
    {% block content %} {% endblock %}
</body>
</html>