{% extends "movies/base.html" %}

{% block title %}<title>Movies like {{ m.title }}: komend</title>{% endblock %}

{% block headcontent %}
    <link rel="stylesheet" href="/static/movies/templates/css/topmovies.css" />
    <script src="/static/movies/templates/javascript/ajax.js"></script>
{% endblock %}

<div id="topcontent">
{% block topcontent  %}
    <h1>{{ director.name }}</h1>
{% endblock %}
</div>

{% block content %}
<p>Starred in: </p>
<div id="movlist">
    <ul>
    {% for m in director.credit.all %}
        {% include "movies/movie_item_generic.html" %}
    {% endfor %}
    </ul>
</div>
{% endblock %}