{% extends "movies/base.html" %}
{% block content %}
{% if director_list %}
    <ol>
    {% for director in director_list %}
{#        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>} CHANGED WHEN ADDING NAMESPACING BELOW#}
{#        <li><a href="{% url 'directors:index' director.id %}">{{ director.title }}</a></li>#}
                <li><a href="{% url 'movies:directordetail' director.id  %}">{{ director.name }}</a></li>
{#        <li><a href="{% url 'movies:directordetail' director.id  %}">{{ director.name }}#}
{#            votes:{{ director.imdb_votes }} mean:{{ director.imdb_mean }} comp:{{ director.imdb_comp }}</a></li>#}
    {% endfor %}
    </ol>
{% else %}
    <p>No directors are available.</p>
{% endif %}
{% endblock %}