{% extends "movies/base.html" %}

{% block title %}<title>Komend.com Movie Recommendations and Discovery</title>{% endblock %}

{% block headcontent %}
<link rel="stylesheet" href="/static/movies/templates/css/similarmovies.css" >

{#<script>#}
{#    $(document).ready(function() {#}
{#  INSERT PAGE SPECIFIC VARIABLES HERE   #}
{#    });#}
{#</script>#}
<script type="text/javascript" src="/static/movies/templates/javascript/search.js"></script>

{% endblock %}

{% block topcontent %}

    <h1>Home</h1>

{% endblock %}

{% block content %}

{% endblock %}