{% extends "movies/base.html" %}

{% block title %}<title>Komend.com Movie Recommendations and Discovery</title>{% endblock %}

{% block headcontent %}
<link rel="stylesheet" href="/static/movies/templates/css/similarmovies.css" >

{#<script>#}
{#    $(document).ready(function() {#}
{#  INSERT PAGE SPECIFIC VARIABLES HERE   #}
{#    });#}
{#</script>#}

{% endblock %}

{% block topcontent %}

    <h1 style="text-align: center;">Home</h1>

{% endblock %}

{% block content %}
<p style="text-align: center;">komend.com is currently in alpha phase, so while you are free to browse the database,
    don't expect too much functionality for now. <br/>Start by searching the database in the toolbar above.</p>
{% endblock %}