<li id="{{ m.pk }}" class="sret">
    <div class="movlist_container">
        <img class="movlist_poster" src="{{ m.poster }}" />
        <div class="movlist_rightcontainer">
            <div class="movlist_title">
                <a href="{% url "movies:similarmovies" m.pk %}">{{ m.title }} ({{ m.date }})</a>
            </div>
            <div class="movlist_cast">

                <span class="movlist_sub">Directors:</span>
                {% for d in m.director_preview %}
                    <a href="{% url 'movies:directordetail' d.crew.pk %}">{{ d.crew.name }}</a>,
                {% endfor %}<br />

                <span class="movlist_sub">Cast:</span>
                {% for a in m.actor_preview %}
                    <a href="{% url 'movies:actordetail' a.crew.pk %}">{{ a.crew.name }}</a>,
                {% endfor %}<br />

            </div>

            <div class="movlist_tags">
                {% for t in m.tags %}
                    <span class="movlist_tag">{{ t.tag }}</span>
                {% endfor %}
            </div>
            <div class="movlist_fullplot">{{ m.fullplot }}</div>
                <div class="movlist_ytcontainer">
        </div>
            <div class="movlist_botpan">
                <button data-movid="{{ m.pk }}" data-ytid="{{ m.youtubeid }}"  data-simid="{{ m.pk }}" class="movlist_youtubebutton">YouTube</button>
                    <span class="movlist_imdbrating">
                        <a href="http://www.imdb.com/title/{{ m.imdb_id }}">IMDb:</a> {{ m.imdb_rating }}</span>
                    {% if m.metacritic_rating > 0 %}
                        <span class="movlist_rottenrating">, Metacritic: {{ m.metacritic_rating }}/100</span>
                    {% endif %}
            </div>
        </div>
    </div>
    <div class="votes_container">
        <div class="movlist_watched_rate" data-linkto="{{ m.pk }}">
{#            <div>#}
{#                <div data-simid="{{ m.pk }}" data-movrate="5" class="movlist_rate_button rate5"></div>#}
{#                <div data-simid="{{ m.pk }}" data-movrate="4" class="movlist_rate_button rate4"></div>#}
{#                <div data-simid="{{ m.pk }}" data-movrate="3" class="movlist_rate_button rate3"></div>#}
{#                <div data-simid="{{ m.pk }}" data-movrate="2" class="movlist_rate_button rate2"></div>#}
{#                <div data-simid="{{ m.pk }}" data-movrate="1" class="movlist_rate_button rate1"></div>#}
{#                    {% if m.usermovierating_set.first.watched %}#}
{#                        <div data-movid="{{ m.pk }}" class="movlist_seenit" style="background-color: green">#}
{#                    {% else %}#}
{#                        <div data-movid="{{ m.pk }}" class="movlist_seenit" style="background-color: grey">#}
{#                    {% endif %}#}
{#                            <img src="/static/movies/images/eye.png" width="100%">#}
{#                        </div>#}
{#            </div>#}
        </div>
    </div>
</li>